/* Descendant Combinator (space) */
div p {
  background-color: yellow;
}

/* Child Combinator (>) */
div > p {
  background-color: red;
}

/* Next Sibling Combinator (+) */
div + p {
  background-color: green;
}

/* Subsequent-sibling Combinator (~) */
div ~ p {
  background-color: teal;
}

