*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100%;
}

video{
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: -1;
}