div{
    background: black;
    height: 300px;
    width: 300px;
}

/* div:hover{
    transform: rotate(45deg);
} */

/* div:hover{
    transform:scale(1);
} */

/* div:hover{
    transform: skew(40deg);
} */

div:hover{
    transform: translate(30px,40px);
}   